# 01. Import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

# 02. Setting variables

In [2]:
path = r'C:\Users\paulo\04-2024 Instacart Basket Analysis'

# 03. Exercise

### Step 01. Import dataframe

In [3]:
# Importing dataframe from previous exercise
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data',
    'orders_busy_hour_day.pkl') )

In [4]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders

### Step 2. Find aggregated mean of the entire dataframe (order_number grouped by department_id)

In [5]:
# Applying aggregation function with "mean"
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457687
2     17.277920
3     17.179756
4     17.811403
5     15.213779
6     16.439806
7     17.225773
8     15.340520
9     15.895474
10    20.197148
11    16.170828
12    15.887622
13    16.583304
14    16.757377
15    16.165037
16    17.663250
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

### Step 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset?

##### Answer: the subset doesn't display all the "department_id" options compare to the entire dataframe, then, the analysis of the subset would not be accurate.

### Step 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [6]:
# Aggregating data with transform()
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\paulo\AppData\Local\Temp\ipykernel_8464\2425947038.py:2: FutureWarning: The provided callable <function max at 0x0000023D243745E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
pd.options.display.max_rows = None

In [8]:
# Checking showing total number of rows
ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
15,2293453,19,prior,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,9
16,1973799,19,prior,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,9
17,532817,19,prior,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,9
18,1573906,21,prior,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,33
19,1593000,31,prior,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,20
20,2231262,31,prior,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,20
21,2580647,43,prior,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,11
22,2187180,43,prior,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,11
23,2497897,52,prior,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
24,1318871,52,prior,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
25,1261384,52,prior,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
26,580568,52,prior,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
27,2428073,52,prior,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,27
28,342306,52,prior,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
29,1520353,52,prior,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
30,2542086,52,prior,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
31,944694,52,prior,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
32,1268191,52,prior,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
33,1122089,52,prior,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
34,1498922,52,prior,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
35,180919,52,prior,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,27
36,2695875,52,prior,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,27
37,3205960,67,prior,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
38,970922,67,prior,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
39,596585,67,prior,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
40,2037087,67,prior,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,24
41,2474111,67,prior,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
42,1568481,67,prior,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
43,2048527,67,prior,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,24
44,2389031,67,prior,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,24
45,2378562,67,prior,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
46,1515698,67,prior,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
47,1928050,67,prior,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,24
48,1949274,67,prior,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
49,551869,67,prior,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
50,768572,67,prior,16,4,10,9.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
51,150528,67,prior,18,5,16,4.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,24
52,29758,67,prior,19,0,14,9.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
53,1558976,67,prior,21,1,9,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
54,863974,67,prior,22,1,11,14.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
55,2308399,67,prior,23,1,14,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
56,2759128,81,prior,3,1,9,14.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,7
57,1812985,81,prior,5,2,20,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,7
58,1889835,82,prior,1,3,15,NaN,196,6,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,19
59,499460,82,prior,3,5,10,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,19
60,2728456,82,prior,4,0,11,16.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,19
61,2653743,82,prior,6,4,9,13.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,19
62,1358880,82,prior,9,1,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,19
63,343588,82,prior,10,2,11,1.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,19
64,3034663,82,prior,15,2,11,12.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,19
65,147262,82,prior,18,1,13,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,19
66,3144004,82,prior,19,2,15,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,19
67,2126069,98,prior,3,0,9,25.0,196,7,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,14
68,2210120,98,prior,7,5,14,5.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,14
69,681011,98,prior,9,3,9,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,14
70,2846344,98,prior,11,4,13,15.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,14
71,747431,98,prior,12,6,13,30.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,14
72,2383054,98,prior,13,4,11,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,14
73,1993729,98,prior,14,5,8,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,14
74,1403849,109,prior,3,3,17,9.0,196,5,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,6
75,520620,120,prior,1,3,11,NaN,196,2,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,3
76,3273029,120,prior,3,2,8,19.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,3
77,1861943,185,prior,2,1,12,25.0,196,10,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,6
78,2040988,195,prior,1,1,14,NaN,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,58
79,1680569,195,prior,8,1,9,4.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,58
80,276171,195,prior,19,5,11,3.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,58
81,2744976,195,prior,22,5,10,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,58
82,2781919,195,prior,25,1,14,4.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,58
83,1738718,195,prior,31,2,8,4.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,58
84,3058369,195,prior,34,3,10,6.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
85,1485596,195,prior,37,2,15,0.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,58
86,417035,195,prior,40,3,16,2.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
87,1615297,195,prior,47,5,10,2.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,58
88,1765587,195,prior,52,3,12,2.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
89,745908,195,prior,57,4,11,3.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
90,2505656,222,prior,17,2,12,1.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,70
91,3268370,222,prior,38,5,15,1.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,70
92,2016711,290,prior,9,5,19,6.0,196,8,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,51
93,2706088,290,prior,28,6,10,7.0,196,16,1,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,51
94,1952286,331,prior,6,5,16,30.0,196,8,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,8
95,3226575,360,prior,1,5,12,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Most orders,3
96,1469869,377,prior,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Regular days,Average orders,3
97,1927023,387,prior,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,8
98,858092,420,prior,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Average orders,22
99,119314,420,prior,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,22

In [9]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [10]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [11]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [13]:
# Checking columns with new labels
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(25)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2

### Step 5. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer).

In [14]:
# Aggregating adding more than 1 argument (mean, min, max)
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

### Step 6. The team now wants to target different types of spenders in their marketing campaigns.

#### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

#### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [15]:
# Aggregating data with transform() for mean price
ords_prods_merge['mean_prod_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\paulo\AppData\Local\Temp\ipykernel_8464\764910127.py:2: FutureWarning: The provided callable <function mean at 0x0000023D24374FE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_prod_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
# Checking columns with labels
ords_prods_merge[['user_id', 'loyalty_flag', 'mean_prod_price']].head(15)

    user_id      loyalty_flag  mean_prod_price
0         1      New customer         6.367797
1         1      New customer         6.367797
2         1      New customer         6.367797
3         1      New customer         6.367797
4         1      New customer         6.367797
5         1      New customer         6.367797
6         1      New customer         6.367797
7         1      New customer         6.367797
8         1      New customer         6.367797
9         1      New customer         6.367797
10       15  Regular customer         3.980556
11       15  Regular customer         3.980556
12       15  Regular customer         3.980556
13       15  Regular customer         3.980556
14       15  Regular customer         3.980556

In [17]:
ords_prods_merge.loc[ords_prods_merge['mean_prod_price'] < 10, 'spending_flag'] = 'Low spender'

In [18]:
ords_prods_merge.loc[ords_prods_merge['mean_prod_price'] >= 10, 'spending_flag'] = 'High spender'

In [19]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31798751
High spender      635461
Name: count, dtype: int64

In [20]:
# Checking columns with new labels
ords_prods_merge[['user_id', 'mean_prod_price', 'spending_flag']].head(15)

    user_id  mean_prod_price spending_flag
0         1         6.367797   Low spender
1         1         6.367797   Low spender
2         1         6.367797   Low spender
3         1         6.367797   Low spender
4         1         6.367797   Low spender
5         1         6.367797   Low spender
6         1         6.367797   Low spender
7         1         6.367797   Low spender
8         1         6.367797   Low spender
9         1         6.367797   Low spender
10       15         3.980556   Low spender
11       15         3.980556   Low spender
12       15         3.980556   Low spender
13       15         3.980556   Low spender
14       15         3.980556   Low spender

### Step 7. the Instacart team wants you to determine frequent versus non-frequent customers - Order frequency flag.

#### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

#### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

#### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [21]:
# Aggregating data with transform() for mean price
ords_prods_merge['median_days_last_order'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

C:\Users\paulo\AppData\Local\Temp\ipykernel_8464\4270172312.py:2: FutureWarning: The provided callable <function median at 0x0000023D244ACE00> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_last_order'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [22]:
# Checking columns with labels
ords_prods_merge[['user_id', 'median_days_last_order']].head(15)

    user_id  median_days_last_order
0         1                    20.5
1         1                    20.5
2         1                    20.5
3         1                    20.5
4         1                    20.5
5         1                    20.5
6         1                    20.5
7         1                    20.5
8         1                    20.5
9         1                    20.5
10       15                    10.0
11       15                    10.0
12       15                    10.0
13       15                    10.0
14       15                    10.0

In [23]:
ords_prods_merge.loc[ords_prods_merge['median_days_last_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [24]:
ords_prods_merge.loc[(ords_prods_merge['median_days_last_order'] > 10) & (ords_prods_merge['median_days_last_order'] <= 20), 'frequency_flag'] = 'Regular-frequent customer'

In [25]:
ords_prods_merge.loc[ords_prods_merge['median_days_last_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [26]:
# Checking rows
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer            21577409
Regular-frequent customer     7217134
Non-frequent customer         3639669
Name: count, dtype: int64

In [27]:
# Checking columns of updated data frame
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prod_price,spending_flag,median_days_last_order,frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,both,Mid-range product,Regular days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,both,Mid-range product,Regular days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,prior,7,1,9,20.0,196,1,1,...,both,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,both,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,both,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,both,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,both,Mid-range product,Regular days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,both,Mid-range product,Regular days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,both,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,prior,22,1,10,14.0,196,1,1,...,both,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer

### Step 9. Export in PKL

In [28]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_aggregation.pkl'))