# 01. Import libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

# 02. Setting variables

In [2]:
path = r'C:\Users\paulo\04-2024 Instacart Basket Analysis'

In [3]:
df_ords_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

### Exercises 4.6

#### Step 04 - Check shape of the DataFrame

In [5]:
# Check the shape of the data
df_ords_combined.shape

(32434489, 12)

In [6]:
# Check the data in df_ords_prods
df_ords_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [7]:
# Check the data in df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

#### Step 05 - Merge df_ords_combined with df_prods

In [8]:
# Drop unnamed and _merge columns in df_ords_combined
df_ords_combined = df_ords_combined.drop(columns = ['Unnamed: 0', '_merge'])

In [10]:
# Drop unnamed column in df_prods
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [12]:
# Merge df_ords_combined with df_prods
df_ords_prods_combined = df_ords_combined.merge(df_prods, on = 'product_id', indicator = True)

In [13]:
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

#### Step 06 - Confirm the results of the merge using merge flag

In [17]:
df_ords_prods_combined['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

#### Step 07 - Export the Data as PKL

In [18]:
df_ords_prods_combined.to_(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.csv'))