# 01. Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 02. Setting variables

In [2]:
path = r'C:\Users\paulo\OneDrive\USA Education\04-2024 Instacart Basket Analysis'

# 03. Exercise - part 1

Step. 3 Import your analysis libraries, as well as your new customer data set as a dataframe.

In [3]:
# Importing Customer Dataframe

df_customer = pd.read_csv(os.path.join(path, '02 Data','Original Data',
    'customers.csv'))

Step. 4 Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [4]:
# Checking the data columns using "head"

df_customer.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
# Checking size of the datafram using "shape"

df_customer.shape

(206209, 10)

In [6]:
# Checking types of the dataframe using "dtypes"

df_customer.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [7]:
# Renaming columns to maintain a pattern for later inclusion to the
# prepared data 

df_customer.rename(columns = {'First Name' : 'first_name'}, inplace = True)
df_customer.rename(columns = {'Surnam' : 'last_name'}, inplace = True)
df_customer.rename(columns = {'Gender' : 'gender'}, inplace = True)
df_customer.rename(columns = {'STATE' : 'state'}, inplace = True)
df_customer.rename(columns = {'Age' : 'age'}, inplace = True)
df_customer.rename(columns = {'n_dependants' : 'number_dependants'}, inplace = True)
df_customer.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [8]:
# Checking changing using "head"

df_customer.head()

,user_id,first_name,last_name,gender,state,age,date_joined,number_dependants,marital_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

Step. 5 Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [9]:
# Checking for mixed-type data

for col in df_customer.columns.tolist():
  weird = (df_customer[[col]].map(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customer[weird]) > 0:
    print (col)

first_name

In [10]:
# Changing mixed-type for "str"

df_customer['first_name'] = df_customer['first_name'].astype('str')

In [11]:
# Checking if the first_name column is fixed

for col in df_customer.columns.tolist():
  weird = (df_customer[[col]].map(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customer[weird]) > 0:
    print (col)

In [12]:
# As the previous code didn't flag any other column, it can be considered fixed

In [13]:
# Checking for missing data

df_customer.isnull().sum()

user_id              0
first_name           0
last_name            0
gender               0
state                0
age                  0
date_joined          0
number_dependants    0
marital_status       0
income               0
dtype: int64

In [14]:
# No missing values found.

In [15]:
# Checking for duplicates

df_customer_dup = df_customer[df_customer.duplicated()]

In [16]:
df_customer_dup

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, number_dependants, marital_status, income]
Index: []

In [17]:
# No duplicates found.

Step. 6 Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [18]:
# Importing Instacart Prepared dataframe

df_instacart = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data',
    'ords_prods_merge_aggregation.pkl'))

In [19]:
# Checking imported Instacart dataframe data types per column

df_instacart.dtypes

order_id                     int64
user_id                      int64
eval_set                    object
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_last_order      float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
_merge                    category
price_range_loc             object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
mean_prod_price            float64
spending_flag               object
median_days_last_order     float64
frequency_flag              object
dtype: object

In [20]:
# Checking the Customer dataframe data types per column

df_customer.dtypes

user_id               int64
first_name           object
last_name            object
gender               object
state                object
age                   int64
date_joined          object
number_dependants     int64
marital_status       object
income                int64
dtype: object

In [21]:
# user_id (dtypes) has the same type in both dataframes.

In [22]:
# Checking the size of the Instacart Dataframe
df_instacart.shape

(32434212, 24)

In [23]:
# Checking the size of the Customer Data Frame
df_customer.shape

(206209, 10)

In [24]:
# Dropping the "_merge" from df_instacart dataframe

df_instacart = df_instacart.drop(columns = ['_merge'])

In [25]:
# Checking if the "_merge" has been dropped

df_instacart.shape

(32434212, 23)

In [26]:
# Checking if "_merge" column was correctly removed from the dataframe
df_instacart.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prod_price,spending_flag,median_days_last_order,frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,Mid-range product,Regular days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [27]:
# It has dropped.

In [28]:
# Merging df_customer into df_instacart

df_instacart_customer = df_instacart.merge(df_customer, on = ['user_id'], indicator = True)

In [29]:
# Checking if the merge was completed.
df_instacart_customer.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,...,first_name,last_name,gender,state,age,date_joined,number_dependants,marital_status,income,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [30]:
# Checking the if the columns were added in the merged dataframe
df_instacart_customer.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'mean_prod_price',
       'spending_flag', 'median_days_last_order', 'frequency_flag',
       'first_name', 'last_name', 'gender', 'state', 'age', 'date_joined',
       'number_dependants', 'marital_status', 'income', '_merge'],
      dtype='object')

In [31]:
# Checking the Value Counts for the newly created _merge column
df_instacart_customer['_merge'].value_counts(dropna = False)

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [32]:
# Checking hte size of Instacart dataframe with customer included
df_instacart_customer.shape

(32434212, 33)

In [33]:
# Checking the datatypes for the merged dataframe
df_instacart_customer.dtypes

order_id                     int64
user_id                      int64
eval_set                    object
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_last_order      float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
price_range_loc             object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
mean_prod_price            float64
spending_flag               object
median_days_last_order     float64
frequency_flag              object
first_name                  object
last_name                   object
gender                      object
state                       object
age                          int64
date_joined                 object
number_dependants            int64
marital_status              object
income                       int64
_merge                    category
dtype: object

In [34]:
# The customer dataframe was successfully added to the Instacart Prepared dataframe.

Step. 8 Export this new dataframe as a pickle file so you can continue to use it in the second part of this task

In [35]:
# Exporting the newly merged data with the Orders - Products - Customer data.
df_instacart_customer.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '05_27_2024_ords_prods_cust_merged.pkl'))